.app {
  font-family: "Rubik", sans-serif;
}

.body {
  background-color: #f5f5f5;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  width: 100px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-links {
  font-size: small;
  font-weight: bold;
  display: flex;
  list-style-type: none;
}

.nav-links:hover {
  color: #af4a52;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 5px;
}

.res-links,
.nav-links {
  text-decoration: none;
  color: black;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  width: 200px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

.res-card:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.shimmer-card {
  margin: 5px;
  width: 200px;
  height: 400px;
  padding: 10px;
  border-radius: 1rem;
  background-color: #fff7ed;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.res-logo {
  width: 100%;
}

.search-btn {
  margin-left: 5px;
  font-family: inherit;
}

.filter {
  padding: 10px;
  margin: 10px;
  display: flex;
}

.filter-btn {
  margin-left: 20px;
  font-family: inherit;
}

.user-name {
  margin-left: 0.8rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

/* login button */
.login {
  padding: 0.5rem;
  border-style: none;
  border-radius: 0.5rem;
  color: white;
  background-color: #60a5fa;
  font-family: inherit;
}

.login:hover {
  cursor: pointer;
  background-color: #93c5fd;
}

.user-card {
  border: solid 1px black;
  width: 22rem;
  padding: 1rem;
}

.user-pic {
  width: 100%;
}

.promoted-label {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 3px;
  margin: 2px;
}

.res-name {
  text-align: center;
}

.res-name > h1 {
  font: bolder;
  font-size: xx-large;
  margin: 2rem 0rem;
}

.res-name > p {
  font-size: larger;
  font: bold;
}

.accordion {
  width: 50%;
  border-radius: 0.5rem;
  margin: auto;
  margin-bottom: 1rem;
  background-color: #f1f5f9;
  padding: 1rem;
  box-shadow: 0 5px 7px #e2e8f0;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-title {
  font: bold;
}

.accordion-body {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  margin: 0.5rem;
  text-align: left;
  border-bottom: 1px solid gray;
}

.dish-description {
  font-size: small;
}

.dish-container {
  width: 75%;
}

.dish-pic {
  width: 7rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.add-btn {
  position: absolute;
  margin-left: 2.5rem;
  margin-top: 4.1rem;
  border-radius: 0.7rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 0.3rem;
  font-family: inherit;
}

.cart-container {
  font-size: xx-large;
}

.cart-count {
  position: absolute;
  margin-left: 1.3rem;
  margin-top: -0.7rem;
  background-color: #af4a52;
  color: white;
  border-radius: 0.5rem;
  border-style: none;
}

.cart {
  text-align: center;
  width: 50%;
  margin: auto;
}

.cart > button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-style: none;
  color: white;
  background-color: black;
}

.contact-us {
  padding: 2rem 1rem;
  text-align: center;
  font-size: larger;
}

.contact {
  padding: 0.5rem;
  margin: 0.5rem;
  border-style: solid;
  outline-color: none;
  outline-style: none;
  border-radius: 1.5rem;
  font-family: inherit;
}

.contact-socials {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.git-img,
.linkedin-img {
  max-width: 2rem;
  display: flex;
  padding: 1rem;
}

.grocery {
  margin: auto;
  margin-top: 7rem;
  max-width: 70%;
  text-align: center;
}
